@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.eot') format('embedded-opentype'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
        url('../fonts/BebasNeue-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Regular.eot');
    src: url('../fonts/Comfortaa-Regular.eot') format('embedded-opentype'),
        url('../fonts/Comfortaa-Regular.woff2') format('woff2'),
        url('../fonts/Comfortaa-Regular.woff') format('woff'),
        url('../fonts/Comfortaa-Regular.ttf') format('truetype'),
        url('../fonts/Comfortaa-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}